@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">

<!--_HeadComponentPartial-->
@await Component.InvokeAsync("_HeadComponentPartial")

<body id="top">

    <!--_NavbarComponentPartial-->
    @await Component.InvokeAsync("_NavbarComponentPartial")

    <!--_FeatureComponentPartial-->
    @await Component.InvokeAsync("_FeatureComponentPartial")

    <!--_AboutComponentPartial-->
    @await Component.InvokeAsync("_AboutComponentPartial")

    <!--_PortfolioComponentPartial-->
    @await Component.InvokeAsync("_PortfolioComponentPartial")

    <!--_TestimonialComponentPartial-->
    @await Component.InvokeAsync("_TestimonialComponentPartial")

    <!--_StatisticComponentPartial-->
    @await Component.InvokeAsync("_StatisticComponentPartial")

    <!--_ContactComponentPartial-->
    @await Component.InvokeAsync("_ContactComponentPartial")

    <!--_FooterComponentPartial-->
    @await Component.InvokeAsync("_FooterComponentPartial")


</body>

</html>