@model CsharpMyPortfolio.DAL.Entities.About
<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>Hakkımda</h3>
            <h1>@ViewBag.title</h1>
            <p class="lead">@ViewBag.subDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Ben Kimim!</h3>
            <p>
                @ViewBag.details
            </p>
        </div>

        <!--_SkillComponentPartial-->
        @await Component.InvokeAsync("_SkillComponentPartial")



    </div>


    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="#0" class="btn btn--primary full-width">CV'mi indir</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#0" class="btn full-width">Burdan Yazın</a>
        </div>

    </div>

    <!--_ExperienceComponentPartial-->
    @await Component.InvokeAsync("_ExperienceComponentPartial")


</section>
